<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <h1>Registro Usuarios</h1><br>

        <label>Nombre de Usuario</label>
        <ion-input type="text" placeholder="Ingrese su nombre de usuario"></ion-input>

        <label>Contraseña</label>

        <ion-input type="password" placeholder="PepitosGames123" labelPlacement="fixed"></ion-input>
        <label>Confirmar Contraseña</label>
        <ion-input type="password" placeholder="PepitosGames123" labelPlacement="fixed"></ion-input>

        <ion-button expand="block" fill="clear" shape="round">
          Guardar
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>